# Git
.git
.gitignore

# IDE
.idea
.vscode

# Build artifacts
tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Logs
*.log

# Environment variables
.env

# Docker
Dockerfile
.dockerignore

# Documentation
README.md
LICENSE